@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #555;
  color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .font-number {
    font-family: var(--font-number);
  }
  .font-main {
    font-family: var(--font-main);
  }
}
